<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>moduleBattle/pic/battle/BS02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{125,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,44}</string>
			</dict>
			<key>moduleBattle/pic/battle/fd_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,78},{44,49}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,52}</string>
			</dict>
			<key>moduleBattle/pic/battle/ys_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,44},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>moduleBattle/pic/battle/ys_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,70},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>moduleBattle/pic/battle/ys_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,78},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>moduleBattle/pic/battle/ys_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,78},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>test/hp_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,104},{65,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,19}</string>
			</dict>
			<key>moduleBattle/pic/battle/hp_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{102,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBattleUI.png</string>
			<key>realTextureFileName</key>
			<string>PlistBattleUI.png</string>
			<key>size</key>
			<string>{128,127}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>127</integer>
		</dict>
	</dict>
</plist>